extends layout

block content
  h1= title
  h3= course.desc
  if (course.status) 
    p You're status is: #{course.status}
    form(action='/course/'+course._id+'/change-status', method='POST')
      select(name="status").input-small
        option(value="Enrolled", selected=("Enrolled"==course.status)) Enrolled
        option(value="Taken", selected=("Taken"==course.status)) Taken
      label
      input(type='submit', value="Change Status!").btn.btn-small
    a(href='#broadcastModal', role="button", data-toggle="modal").btn.btn-primary Send Broadcast

  h2 Other Students
  for student in course.students
    a(href='/user/'+student._id)
      img(src=student.gravatar+"&s=40", data-placement="bottom", title=student.name).profile-small

  for post in course.posts
    .post
      if (everyauth.loggedIn && String(post.from._id) == String(user._id))
        a(href='#removeModal', role="button", data-toggle="modal", data-id=String(post._id)).close.remove-post &times;
      h4= post.from.name
      p= post.message


  div(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true").modal.hide.fade#broadcastModal
    .modal-header
      button(type="button",data-dismiss="modal", aria-hidden="true").close &times;
      h3.modalLabel Send Message
    .modal-body
      form(action='/send-broadcast', method='POST')
        textarea(name='msg', rows=5).modal-textarea
        input(type="hidden", name="id", value=course._id)
        label
        input(type='submit', value="Submit").btn.btn-primary.pull-

  .modal.hide.fade#removeModal
    .modal-header
      button(type="button",data-dismiss="modal", aria-hidden="true").close &times;
      h3.modalLabel Remove Post
    .modal-body
      p You are about to remove this post. Are you sure?
      form(action='/remove-post', method='POST', style="display: none;")#remove-form
        input(type="hidden", name="id")#post-input
    .modal-footer
      button(type="button",data-dismiss="modal", aria-hidden="true").btn Cancel
      button(type="submit", form="remove-form").btn-danger.btn Delete


  script
    $(document).ready(function() {
      $('.profile-small').tooltip();
      $('.remove-post').on('click', function() {
        var id = $(this).data('id');
        $('#post-input').val(id);
      });
    });
