extends layout

block content
  h1= title
  h3= course.desc
  if (course.status) 
    p You're status is: #{course.status}
    form(action='/course/'+course._id+'/change-status', method='POST')
      select(name="status").input-small
        option(value="Enrolled", selected=("Enrolled"==course.status)) Enrolled
        option(value="Taken", selected=("Taken"==course.status)) Taken
      label
      input(type='submit', value="Change Status!").btn.btn-small
    a(href='/course/'+course._id+'/broadcast').btn.btn-primary Send Broadcast for help!
  for post in course.posts
    .post
      h4= post.from.name
      p= post.message