extends layout

block content
  h1 Welcome #{user.name}
  #feed
    for post in posts
      .post(id=post._id)
        .row
          if (String(user._id) == String(post.from._id))
            a(href='#removeModal', role="button", data-toggle="modal", data-id=String(post._id)).close.remove-post &times;
          a(href='/user/'+post.from._id)
            img(src=post.from.gravatar+"&s=40").pull-left.profile-left
          strong
            a(href='/user/'+post.from._id) #{post.from.name}
          |  posted to 
          strong
            a(href='/course/'+post.course._id) #{post.course.name}
          p= post.message

  .modal.hide.fade#removeModal
    .modal-header
      button(type="button",data-dismiss="modal", aria-hidden="true").close &times;
      h3.modalLabel Remove Post
    .modal-body
      p You are about to remove this post. Are you sure?
      form(action='/remove-post', method='POST', style="display: none;")#remove-form
        input(type="hidden", name="id")#post-input
    .modal-footer
      button(type="button",data-dismiss="modal", aria-hidden="true").btn Cancel
      button(type="submit", form="remove-form").btn-danger.btn Delete

  script
    $(document).ready(function() {
      pollFeed("#{user._id}");
      $('.remove-post').on('click', function() {
        var id = $(this).data('id');
        $('#post-input').val(id);
      });
      $('#remove-form').submit(function () {
        $('#removeModal').modal('hide');
        $.post("/remove-post", $("#remove-form").serialize(), function (data) {
          var post = $('#'+$('#post-input').val())
          post.hide('slow', function () {
            post.remove();
          });
        });
        return false;
      });
    });