extends layout

block navigation
  ul.nav.pull-right
    li.dropdown
      a(href="#", data-toggle="dropdown").dropdown-toggle #{user.name}
        b.caret
      ul.dropdown-menu
        li
          a(href='/create-course') Create a Course
        li
          a(href='/my-courses') View your courses
        li
          a(href='/courses') Browse Courses
        li
          a(href='/user/'+user._id) View profile

block content
  h1 Welcome #{user.name}
  for post in posts
    .post
      h4 
        a(href='/course/'+post.course._id) #{post.course.name}
      p= post.message
      h6= post.from.name