extends layout

block content
  if (everyauth.loggedIn && (String(user._id) == String(profile._id)))
    a(href="http://gravatar.com/emails")
      img(src=profile.gravatar+"&s=175", data-placement="bottom", title="Change your avatar at gravatar.com").img-polaroid#profile
  else 
    img(src=profile.gravatar+"&s=175").img-polaroid
  h1= title
  h2 Courses
  for course in profile.courses
    .course(onclick="location.href='/course/"+course._id+"';")
      p= course.name
      h6= course.status
  h2 Posts
  for post in profile.posts
    .post
      strong Posted to 
        a(href='/course/'+post.course._id) #{post.course.name}
      p= post.message

  script
    $(document).ready(function() {
      $('#profile').tooltip();
    });